<h2>special price</h2>
<p>
  <strong>start_date : </strong>
  <%= @special.start_date %>
</p>
<p>
  <strong>end_date : </strong>
  <%= @special.end_date %>
</p>
<%= link_to 'Edit',  edit_room_special_path %> |
<%= link_to 'Back', room_specials_path %>